/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.header-container {
  overflow: hidden; }
  .header-container .nav-bar {
    width: 99%;
    margin: 0 auto; }
    .header-container .nav-bar ul {
      padding: 10px 0;
      text-align: right; }
      .header-container .nav-bar ul li {
        display: inline-block;
        margin: 0 30px; }
        .header-container .nav-bar ul li:last-child {
          margin: 0; }
        .header-container .nav-bar ul li a {
          text-decoration: none;
          color: #999999; }
          .header-container .nav-bar ul li a:hover {
            color: #cc3333;
            cursor: pointer; }
  .header-container .slider {
    position: relative;
    clear: both; }
    .header-container .slider > img {
      width: 100%; }
      @media (max-width: 768px) {
        .header-container .slider > img {
          width: 120%;
          margin-left: -10%; } }
    .header-container .slider .content-logos {
      width: 44%;
      position: absolute;
      top: -60px;
      left: 0;
      right: 0;
      margin: 0 auto; }
      @media (max-width: 720px) {
        .header-container .slider .content-logos {
          width: 60%;
          top: -20px; } }
      .header-container .slider .content-logos img {
        width: 100%; }

h1 {
  margin: 50px 0; }
  h1 img {
    display: block;
    margin: 0 auto; }
    @media (max-width: 992px) {
      h1 img {
        width: 95%; } }

.form-box {
  max-width: 770px;
  margin: 0 auto;
  background: url("../img/kfc/coronel-sanders.png") no-repeat center #cc0033;
  background-size: cover; }
  .form-box .logo-kfc-form {
    margin: 0 auto 20px;
    display: block; }
  .form-box .center-form {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px 0 10px;
    text-align: center;
    /***[   Alerts messages   ]***/
    /***[   Thanks page styles  ]***/
    /***[   End thanks page styles  ]***/ }
    @media (max-width: 992px) {
      .form-box .center-form {
        width: 90%;
        max-width: 100%; } }
    .form-box .center-form [id^="flash"] {
      color: #fff; }
    .form-box .center-form .alert-danger {
      color: #fff; }
      .form-box .center-form .alert-danger .close {
        display: none; }
    .form-box .center-form .text-help {
      color: #fff;
      font-size: 12px;
      margin-top: 30px; }
      .form-box .center-form .text-help a {
        color: #fff;
        text-decoration: none; }
        .form-box .center-form .text-help a:hover {
          text-decoration: underline; }
    .form-box .center-form .btn-go {
      width: 180px;
      height: 42px;
      display: inline-block;
      border: none;
      border-radius: 20px;
      margin: 50px 2% 0px;
      padding: 0px 0px;
      text-indent: -99999px;
      top: -10px;
      position: relative;
      background: url(../img/kfc/boton_facebook_tren.png) no-repeat center;
      background-size: 200px; }
    .form-box .center-form .btn-back {
      display: inline-block;
      background-color: #fff;
      border: none;
      border-radius: 20px;
      margin: 50px 2% 0px;
      padding: 10px 30px;
      color: #8f001b;
      text-decoration: none; }
    .form-box .center-form .text-thaks {
      margin: 50px 0; }
      .form-box .center-form .text-thaks img {
        display: block;
        margin: 0 auto;
        width: 100%; }
        @media (max-width: 992px) {
          .form-box .center-form .text-thaks img {
            width: 80%; } }
    .form-box .center-form .text-body img {
      display: block;
      margin: 0 auto;
      width: 100%; }
      @media (max-width: 992px) {
        .form-box .center-form .text-body img {
          width: 80%; } }
    .form-box .center-form #emailForm > div {
      margin: 20px 0;
      clear: both;
      overflow: hidden; }
      @media (max-width: 992px) {
        .form-box .center-form #emailForm > div {
          margin: 10px 0; } }
      .form-box .center-form #emailForm > div label {
        color: #fff;
        padding: 12px 0;
        display: block;
        float: left;
        width: 35%;
        text-align: left; }
        @media (max-width: 992px) {
          .form-box .center-form #emailForm > div label {
            width: 100%;
            padding: 5px 0; } }
      .form-box .center-form #emailForm > div input[type="text"], .form-box .center-form #emailForm > div input[type="number"], .form-box .center-form #emailForm > div input[type="email"], .form-box .center-form #emailForm > div input[type="tel"] {
        background-color: #8f001b;
        border: solid 1px #ff002f;
        color: #fff;
        padding: 12px;
        float: left;
        width: 60%;
        display: block;
        text-align: left;
        transition: background-color 0.3s ease;
        -webkit-transition: background-color 0.3s ease; }
        @media (max-width: 992px) {
          .form-box .center-form #emailForm > div input[type="text"], .form-box .center-form #emailForm > div input[type="number"], .form-box .center-form #emailForm > div input[type="email"], .form-box .center-form #emailForm > div input[type="tel"] {
            width: 90%;
            max-width: 100%; } }
        .form-box .center-form #emailForm > div input[type="text"]:focus, .form-box .center-form #emailForm > div input[type="number"]:focus, .form-box .center-form #emailForm > div input[type="email"]:focus, .form-box .center-form #emailForm > div input[type="tel"]:focus {
          background: rgba(143, 0, 27, 0.57);
          outline-color: #ff002f;
          box-shadow: none;
          outline-width: 0px; }
      .form-box .center-form #emailForm > div ::-webkit-input-placeholder {
        color: #fff; }
      .form-box .center-form #emailForm > div ::-moz-placeholder {
        color: #fff; }
      .form-box .center-form #emailForm > div :-ms-input-placeholder {
        color: #fff; }
      .form-box .center-form #emailForm > div :-moz-placeholder {
        color: #fff; }
      @media (min-width: 992px) {
        .form-box .center-form #emailForm > div:nth-child(n+6):not(:last-child) input {
          width: 30%; } }
      @media (max-width: 992px) {
        .form-box .center-form #emailForm > div:nth-child(n+6):not(:last-child) input {
          width: 70%; } }
      .form-box .center-form #emailForm > div input[type="submit"] {
        background-color: #fff;
        border: none;
        border-radius: 20px;
        margin: 50px 0 0px;
        padding: 10px 30px;
        color: #8f001b; }
    .form-box .center-form #emailForm .wrapper-code {
      position: relative;
      overflow: initial; }
      .form-box .center-form #emailForm .wrapper-code .tooltip {
        content: "";
        width: 30px;
        height: 30px;
        text-indent: -9999%;
        background: url(../img/kfc/Help-Icon.png) no-repeat center;
        background-size: contain;
        float: left;
        margin: 8px 0px 0px 10px;
        display: block; }
    .form-box .center-form #emailForm .wrapper-tooltip {
      opacity: 0;
      width: 200px;
      height: 211px;
      position: absolute;
      bottom: 10px;
      right: 37px;
      background-color: #128d8d;
      border: solid 2px #fff;
      /* ORIGIN */
      transform-origin: center bottom;
      -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
      /* TRANSFORM */
      transform: scale(1) rotate(0deg) translate(0px, 10px);
      -webkit-transform: scale(1) rotate(0deg) translate(0px, 10px);
      -ms-transform: scale(1) rotate(0deg) translate(0px, 10px);
      /* FILTERS */
      /* WILL CHANGE */
      will-change: opacity, transform, -webkit-transform;
      transition: opacity 0.5s linear 0s, transform 0.5s linear 0s;
      -webkit-transition: opacity 0.5s linear 0s, -webkit-transform 0.5s linear 0s; }
      @media (min-width: 350px) {
        .form-box .center-form #emailForm .wrapper-tooltip {
          right: 23px; } }
      .form-box .center-form #emailForm .wrapper-tooltip img {
        width: 100%; }
      .form-box .center-form #emailForm .wrapper-tooltip.show {
        opacity: 1;
        /* TRANSFORM */
        transform: none;
        -webkit-transform: none;
        -ms-transform: none; }
      .form-box .center-form #emailForm .wrapper-tooltip:after {
        content: "";
        position: absolute;
        bottom: -16px;
        right: -2.5px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #fff;
        display: block; }
        @media (min-width: 350px) {
          .form-box .center-form #emailForm .wrapper-tooltip:after {
            right: -3px;
            left: 0;
            margin: 0 auto; } }
    .form-box .center-form #emailForm .policies {
      margin-top: 110px;
      overflow: initial; }
      .form-box .center-form #emailForm .policies label {
        width: auto;
        margin: 0 0 0 40px;
        padding: 0; }
        @media (max-width: 992px) {
          .form-box .center-form #emailForm .policies label {
            width: 85%;
            font-size: 12px;
            margin: 5px 0 0 10px; } }
        @media (max-width: 350px) {
          .form-box .center-form #emailForm .policies label {
            width: 85%;
            font-size: 12px;
            margin: -2px 0 0 10px; } }
        .form-box .center-form #emailForm .policies label a {
          color: #fff;
          font-weight: bold;
          text-decoration: none; }
          .form-box .center-form #emailForm .policies label a:hover {
            text-decoration: underline; }
      .form-box .center-form #emailForm .policies .squaredFour {
        position: relative;
        float: left; }
        .form-box .center-form #emailForm .policies .squaredFour span {
          width: 25px;
          height: 25px;
          display: block;
          float: left;
          cursor: pointer;
          position: relative;
          background: #fcfff4;
          background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
          border-radius: 0px;
          box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
          .form-box .center-form #emailForm .policies .squaredFour span:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 7px;
            left: 7px;
            border: 3px solid #333;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg); }
          .form-box .center-form #emailForm .policies .squaredFour span:hover::after {
            opacity: 0.5; }
      .form-box .center-form #emailForm .policies input[type=checkbox] {
        position: absolute;
        top: 0;
        left: 0;
        width: 25px !important;
        height: 25px;
        z-index: 1;
        opacity: 0; }
        .form-box .center-form #emailForm .policies input[type=checkbox]:checked + span:after {
          opacity: 1; }

.logo-viajescolon {
  margin: 40px auto;
  display: block; }

.footer {
  overflow: hidden;
  background: #424242;
  background: -moz-linear-gradient(top, #424242 0%, #0b0b0b 100%);
  background: -webkit-linear-gradient(top, #424242 0%, #0b0b0b 100%);
  background: linear-gradient(to bottom, #424242 0%, #0b0b0b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#0b0b0b',GradientType=0 ); }
  .footer .nav-footer ul {
    text-align: center;
    padding: 0; }
    .footer .nav-footer ul li {
      display: inline-block;
      margin: 0 30px; }
      .footer .nav-footer ul li a {
        color: #fff;
        text-decoration: none; }
        .footer .nav-footer ul li a:hover {
          cursor: pointer; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.voffset-4 {
  margin-top: 40px; }

/*# sourceMappingURL=main.css.map */
