<div class="data index">
	<h2><?php echo __('Data'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('lastname'); ?></th>
			<th><?php echo $this->Paginator->sort('email'); ?></th>
			<th><?php echo $this->Paginator->sort('tel'); ?></th>
			<th><?php echo $this->Paginator->sort('cel'); ?></th>
			<th><?php echo $this->Paginator->sort('code'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($data as $data): ?>
	<tr>
		<td><?php echo h($data['Data']['id']); ?>&nbsp;</td>
		<td><?php echo h($data['Data']['name']); ?>&nbsp;</td>
		<td><?php echo h($data['Data']['lastname']); ?>&nbsp;</td>
		<td><?php echo h($data['Data']['email']); ?>&nbsp;</td>
		<td><?php echo h($data['Data']['tel']); ?>&nbsp;</td>
		<td><?php echo h($data['Data']['cel']); ?>&nbsp;</td>
		<td><?php echo h($data['Data']['code']); ?>&nbsp;</td>
		<td><?php echo h($data['Data']['created']); ?>&nbsp;</td>
		<td><?php echo h($data['Data']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $data['Data']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $data['Data']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $data['Data']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $data['Data']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Data'), array('action' => 'add')); ?></li>
	</ul>
</div>
